<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.C196_Application_Latest"
        tools:targetApi="31">
        <receiver
            android:name="com.example.c196_application_latest.Receiver.MyReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name="com.example.c196_application_latest.UI.AddEditAssessments"
            android:exported="false"
            android:label="Add/Edit Assessments"
            android:parentActivityName="com.example.c196_application_latest.UI.EditCourses_AssessmentsList">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.c196_application_latest.UI.AddCourses"
            android:exported="false"
            android:label="Add Courses"
            android:parentActivityName="com.example.c196_application_latest.UI.EditTerms_CoursesList">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.c196_application_latest.UI.AddTerms"
            android:exported="false"
            android:label="Add Terms"
            android:parentActivityName="com.example.c196_application_latest.UI.AllTerms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.c196_application_latest.UI.EditCourses_AssessmentsList"
            android:exported="false"
            android:label="Edit Courses and Assessments List"
            android:parentActivityName="com.example.c196_application_latest.UI.EditTerms_CoursesList">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.c196_application_latest.UI.EditTerms_CoursesList"
            android:exported="false"
            android:label="Edit Terms and Courses List"
            android:parentActivityName="com.example.c196_application_latest.UI.AllTerms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.c196_application_latest.UI.AllTerms"
            android:exported="false"
            android:label="All Terms"
            android:parentActivityName="com.example.c196_application_latest.UI.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.c196_application_latest.UI.MainActivity"
            android:exported="true"
            android:label="Course Scheduler">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>